[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"

[deploy]
releaseCommand = "npx prisma db push --skip-generate"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
